
*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body{

width:100%;
height:100%;

overflow:hidden;

font-family:sans-serif;

background:#ececec;

}


.topbar{

position:fixed;

top:0;

left:0;

right:0;

height:56px;

background:#ffffff;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 14px;

box-shadow:0 2px 6px rgba(0,0,0,.15);

z-index:100;

}


.topbar h1{

font-size:18px;

}


.topbar button{

font-size:22px;

border:none;

background:none;

}


#workspace{

position:absolute;

top:56px;

bottom:64px;

left:0;

right:0;

overflow:hidden;

}


#canvas{

width:100%;

height:100%;

background:white;

touch-action:none;

}


.toolbar{

position:fixed;

bottom:0;

left:0;

right:0;

height:64px;

background:#ffffff;

display:flex;

justify-content:space-around;

align-items:center;

box-shadow:0 -2px 6px rgba(0,0,0,.15);

}


.toolbar button{

width:50px;

height:50px;

font-size:24px;

border:none;

background:#f2f2f2;

border-radius:12px;

  }
